/* Universal */
* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}

body {
    font-family: 'Poppins', sans-serif;
    background-color: lightgrey;
}


/* Headings */

.h1 {
    font-size: 2rem;
    font-weight: bolder;
}

h2 {
    margin-bottom: 1rem;
}

h3 {
    font-size: 1.5rem;
    margin-bottom: 1rem;
}

 /* styled components */
.nav {
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding: 15px;
    margin-bottom: 1rem;
}
.nav ul {
    display: flex;
    font-size: larger;
    font-weight: bold;
}
.nav ul li {
    list-style: none;
    padding: 10px;
}
.nav ul li a {
    text-decoration: none;
    color: black
}

.first {
    cursor: pointer;
}


/* containers */

.about-me {
    width: 70%;
    height: auto;
    margin: 0 auto;
    padding: 1.5rem;
    display: flex;
    flex-direction: column;
}

.intro-container {
    font-size: larger;
}

.projects-container {
    width: 67%;
    margin: 0 auto 2rem;
    font-size: large;
}

.contact {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.skills {
    width: 68%;
    margin: 0px auto 2rem;
    padding: 8px;
}

/* images and fonts */

.intro-container img {
    border-radius: 50%;
    float: right;
    height: 250px;
    max-width: 100%;
    margin: 1rem;
    transition: transform 3s;
}

.intro-container img:hover {
    transform: rotate(-45deg)
}

.first-program {
    display: none;
}
.second-img{
    display: none;
}

.toggle {
    height: 250px;
    border-radius: 5px;
}

.fonts {
    font-size: 3rem;
    display: flex;
    justify-content: space-between;
    margin: 8px;
}

.heart {
    color: red;
}


.footer {
    width: 70%;
    margin: 0 auto;
    text-align: center;
}



@media (max-width: 620px) {
    .h1 {
        display: none;
    }
    
    .nav {
        display: flex;
        flex-wrap: wrap;
        align-items: center;
    }
    
    .about-me {
        width: 100%;
        height: auto;
    }

    h2 {
        text-align: center;
    }
    
    .intro-container {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
    }

    .intro-container img {
        transition: transform 3s;
    }

    .intro-container img:hover {
        transform: rotate(-45deg);
    }

    .projects-container {
        width: 100%;
        margin: 1.5rem;
        font-size: large;
    }

}




